[flake8]

ignore = F402, F403, F405, F811, N802, N803, N806, W503

max_line_length = 79

exclude =
    */migrations/,
    venv/,
    env/

per-file-ignores =
    */tests/*: JS101
    */components/*: E501

max-complexity = 10
