[flake8]
max_line_length = 79

exclude =
    frontend/
    data/
    docs/
    */migrations/
    venv/
    *base.py


per-file-ignores =
    */settings/*: F403, F405
    */tests/*: JS101
    */components/*: E501

max-complexity = 10
