version: '3.3'
services:
  db:
      image: postgres:12.4
      container_name: foodgram_db
      volumes:
        - postgres_data:/var/lib/postgresql/data/
      env_file:
        - .env

  backend:
      image: ilkaxd/foodgram_backend:latest
      container_name: foodgram_backend
      restart: always
      depends_on:
        - db
      volumes:
        - static_files:/code/static/
        - media_files:/code/media/
      env_file:
        - .env

  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile
    container_name: foodgram_frontend
    volumes:
      - ../frontend/:/app/result_build/

  nginx:
    image: nginx:1.19.3
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ../frontend/build:/usr/share/nginx/html/
      - ../docs/redoc.html:/usr/share/nginx/html/api/docs/redoc.html
      - ../docs/openapi-schema.yml:/usr/share/nginx/html/api/docs/openapi-schema.yml
      - static_files:/static/
      - media_files:/media/
    depends_on:
      - backend

volumes:
  postgres_data:
  static_files:
  media_files: