name: Foodgram-app workflow

on: [push]

jobs:
  tests:
    name: Run tests
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
    - name: Check out the repository exists
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pep8-naming flake8-broken-line flake8-return flake8-isort
        pip install -r requirements.txt
    
    - name: Test with flake8 and django tests
      run: |
        python -m flake8
        pytest

  build_and_push_to_docker_hub:
    name: Build project and push it to docker hub
    runs-on: ubuntu-latest
    needs: [tests]
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

  deploy:
    name: Deploy server on Yandex.Cloud
    runs-on: ubuntu-latest
    needs: [build_and_push_to_docker_hub]
    steps:
    - name: Check out the repo
      uses: actions/checkout@v2

  send_message:
    name: Send message to telegram
    runs-on: ubuntu-latest
    needs: [deploy]
    steps:
    - name: send message
      uses: appleboy/telegram-action@master
      with:
        to: ${{ secrets.TELEGRAM_TO }}
        token: ${{ secrets.TELEGRAM_TOKEN }}
        message: ${{ github.workflow }} успешно выполнен!
